.input-wrapper {
    margin-bottom: 1rem;
}

.label-input {
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    display: block;
}

.custom-input {
    border-width: 0;
    border-bottom-width: 1px;
    width: 100%;
    padding: 0.5rem 0rem;
    font-size: 0.8rem;
}

.custom-input:focus {
    outline: none;
    opacity: 1;
    transition: all 0.2s;
}

.custom-input, input {
    width: 100%; /* Ensure the input takes full width but within the container */
    padding: 0.5rem; /* Add padding to input field */
    margin-top: 0.5rem; /* Space between label and input */
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box; /* Ensure padding is included in the total width */
}

.custom-input::placeholder {
    color: grey
}

.form-item {
    margin-bottom: 1.5rem; /* Ensure spacing between form fields */
}