.signup-wrapper {
    width: auto;
    max-width: 400px;
    height: auto;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 100px;
    background-color: rgb(245, 250, 255);

}

.title {
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
}

.p-login {
    text-align: center;
    font-weight: 250;
    font-size: 0.8rem;
    margin: 0;
}

.form-item {
    margin-bottom: 1.5rem; /* Ensure spacing between form fields */
}